* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;
    list-style: none;
    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
}

.General {
    min-width: 800px;
}

/* HEADER */

.Header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    background: linear-gradient(141deg, rgba(0, 0, 0, 1) 0%, rgba(24, 24, 24, 1) 82%, rgba(29, 29, 29, 1) 100%);
    padding: 0 90px 0 70px;
    position: fixed;
    z-index: 2;
    box-shadow: rgb(0 0 0) -5px 0px 40px 20px;
}

.LogoIcon {
    width: 120%;
}

.NavBar ul {
    display: flex;
    gap: 40px;
    margin-right: 25px;
}

.Navli {
    color: white;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    opacity: 0.8;
}

.Navli:hover {
    opacity: 1;
    transform: translateY(-5px);
}

.Navli::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: -5px;
    transition: ease 0.5s;
}

.Navli:hover::after {
    width: 100%;
}


/* SECTION1 */

.Section1 {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('./images/Background1.png');
    background-size: cover;
    min-height: 100vh;
}

.divSec1 {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.LogoCM {
    max-width: 100%;
    height: 40%;

}

.h3Sec1 {
    text-align: center;
    width: 460px;
    color: white;
    font-size: 23px;
}

.divButtonSec1 {
    display: flex;
    gap: 60px;
}

.ButtonW {
    background: linear-gradient(141deg, rgba(255, 222, 0, 1) 0%, rgba(255, 222, 0, 1) 36%, rgba(214, 147, 0, 1) 100%);
    height: 35px;
    width: 150px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: ease 0.5s;
}

.ButtonM {
    background: linear-gradient(141deg, rgba(255, 222, 0, 1) 0%, rgba(255, 222, 0, 1) 36%, rgba(214, 147, 0, 1) 100%);
    height: 35px;
    width: 150px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: ease 0.5s;

}

.ButtonW:hover {
    box-shadow: rgba(255, 222, 0, 1) 0px 0px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: translateY(-5px);

}

.ButtonM:hover {
    box-shadow: rgba(255, 222, 0, 1) 0px 0px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: translateY(-5px);

}

/*SECTION2*/

.Section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    min-height: 110vh;
}

.ExampleImage {
    width: 38%;
}

.SpanSec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 105px;
}

.h2Sec2 {
    text-align: center;
    color: #ffca00;
    margin-bottom: 65px;
    position: relative;
    font-size: 30px;
    font-weight: 500;
}

.h2Sec2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e99f00;
    left: 0;
    bottom: -5px;
}

b {
    color: #ffca00;
    margin-right: 8px;
}

.TextSec2 {
    text-align: start;
    color: white;
    position: relative;
    font-family: "Madimi One", sans-serif;
    font-size: 22px;
    width: 530px;
    padding-bottom: 25px;
    position: relative;
}


.Text2Sec2 {
    text-align: start;
    color: white;
    position: relative;
    font-family: "Madimi One", sans-serif;
    font-size: 22px;
    width: 530px;
    padding-bottom: 35px;
    position: relative;
}

.Text2Sec2::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #d99400;
    left: 80px;
    bottom: -5px;
}

.GoldIconSec2 {
    max-width: 16%;
    height: auto;
    margin-top: 20px;
}

/*SECTION3*/

.Section3 {
    min-height: 120vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 280px 40px 50px 40px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 1) 100%);
    align-items: center;
}

.HeaderSec3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100px;
    width: 100%;
}

.TextCenterSec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}


.pCenterSec3{
    font-size: 35px;
    font-weight: 600;
    width: 950px;
    border-bottom: solid 3px #000000;
    padding-bottom: 50px;
    margin-bottom: 60px;
    text-align: center;
    margin-top: 70px;
}

.TitleSec3 {
    width: 800px;
    font-size: 45px;
}

.IconSec3 {
    max-width: 100%;
    height: 100%;
    transform: rotate(-25deg);
}

.carousel {
    display: flex;
    gap: 70px;
    margin-top: 200px;
    justify-content: center;
}


.bladeContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 12px;
    width: 225px;
    position: relative;
    cursor: pointer;
    transition: ease 0.8s;
    border-radius: 8px;
}

.bladeContainer::after {
    content: "";
    background-color: black;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 100px;
    top: -90px;
}

.bladeContainer:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: translateY(-10px);
}

.Bladeimage {
    width: 50%;
    cursor: pointer;
    transition: ease 0.4s;
    padding-top: 10px;
}

.Bladeimage:hover {
    transform: scale(1.1);
}

.BladeName {
    font-weight: 600;
    font-size: 20px;
}

.BladeDescription {
    text-align: center;
    width: 100%;
    font-family: cursive;
}

.TextDownSex3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 120px;
    border-top: solid 3px black;
    padding-top: 80px;
    width: 60%;
}

.h2DownSec3{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    width: 590px;
    color: #ffdb00;
}

.pDownSec3{
    font-size: 30px;
    text-align: center;
    width: 800px;
    font-weight: 600;
}

.SpanCompareSec3{
    display: flex;
    margin-top: 130px;
    justify-content: space-around;
    gap: 150px;
}

.MaterialSec3{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.TitleMaterial1{
    color: #ffdb00;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Madimi One';
    margin-left: 35px;
}

.TextsList1{
    border-left: solid 4px #ffdb00;
    padding-left: 12px;
    padding: 4px 12px;
}

.liLM{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 540px;
}

.MaterialSec3{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.TitleMaterial2{
    color: #ffdb00;
    font-size: 40px;
    margin-bottom: 20px;
    /* font-family: 'Madimi One'; */
    font-family: 'Madimi One';
    margin-left: 35px;
}

.TextsList2{
    border-left: solid 4px #ffdb00;
    padding-left: 12px;
    padding: 4px 12px;
}

.liLC{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 540px;
}

.GoldIconSec3{
    max-width: 8%;
    height: auto;
    position: relative;
    margin-top: 85px;
}


/*SECTION4*/

.Section4 {
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 120px 40px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 100%);
}

.HeaderSec4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100px;
    width: 100%;
    margin-top: 120px;
}

.TitleSec4 {
    width: 800px;
    font-size: 45px;
    color: white;
}

.IconSec4 {
    max-width: 100%;
    height: 150%;
    transform: rotate(-10deg);
}

.carousel {
    display: flex;
    gap: 70px;
    margin-top: 200px;
    justify-content: center;
}

.ScissorsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 12px;
    width: 230px;
    position: relative;
    cursor: pointer;
    transition: ease 0.8s;
    border-radius: 8px;
}

.ScissorsContainer::after {
    content: "";
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 100px;
    top: -100px;
}

.ScissorsContainer:hover {
    box-shadow: rgba(132, 110, 0, 0.3) 0px 19px 38px, rgba(152, 142, 0, 0.22) 0px 15px 12px;
    transform: translateY(-10px);
}

.Scissorsimage {
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.4s;
    border: solid 2px #ffcc00;
    padding: 8px;
}

.Scissorsimage:hover {
    transform: scale(1.1);
}

.ScissorsName {
    font-weight: 600;
    font-size: 20px;
    color: #e99f00;
}

.ScissorsDescription {
    text-align: center;
    width: 100%;
    font-family: cursive;
    color: white;
}

.SpanSec4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid 2px #ffca00;
    border-bottom: solid 2px #ffca00;
    margin-top: 90px;
}


.textdivHSec4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TextsinDiv {
    display: flex;
    flex-direction: column;
}

.TextTitle {
    color: #ffca00;
    text-align: center;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.Textlorem{
    color: white;
    text-align: center;
    width: 800px;
    font-size: 25px;
    font-weight: 800;
    border-bottom: solid 2px #ffe400;
    padding-bottom: 60px;
}


.divTextsSec4 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.texth2 {
    color: #ffca00;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.textp {
    color: white;
    width: 640px;
    font-size: 23px;
    margin-bottom: 60px;
    font-weight: 600;
}

.DivTextSec4{
    cursor: pointer;
}
.DivTextSec4:hover{
    transform: translateY(-10px);
    box-shadow: rgba(132, 110, 0, 0.3) 0px 19px 38px, rgba(152, 142, 0, 0.22) 0px 15px 12px;


}


/*SECTION5*/

.Section5 {
    min-height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(126, 126, 126, 1) 16%, rgba(126, 126, 126, 1) 100%);
}

.CenterSec5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1Sec5 {
    color: white;
    font-size: 48px;
}

.TextSec5 {
    color: white;
    font-size: 25px;
    width: 820px;
    text-align: center;
}

.DivMachines {}

.SecadorContainer {}

.SecadorImage {}

.SecadorTitle {}

.SecadorDescription {}


/*SECTION6*/

.Section6 {
    height: 100vh;
    background-color: white;

}