* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;
    list-style: none;
    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
}

.General {
    min-width: 800px;
}

b {
    color: #ffcc00;
}

/* Selections */

.Blur {
    position: fixed;
    z-index: 7;
    height: 100%;
    width: 100%;
    background-color: #00000069;
    display: none;
    justify-content: center;
    opacity: 0;
}

.Selection1 {
    height: 85%;
    width: 60%;
    background-color: #ffffff47;
    position: absolute;
    bottom: -800px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: column;
    padding: 45px 150px 0;
    align-items: center;
}

.CloseButton {
    color: white;
    position: absolute;
    right: 20px;
    top: 13px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    height: 30px;
    width: 30px;
    transition: ease 0.5s;
}

.CloseButton:hover {
    text-shadow: 0 0 15px white;
}



.BladeSInfo {
    display: flex;
    gap: 20px;
}

.ContainerBlades {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

.BladeSelected {
    width: 170px;
    height: 170px;
    border-radius: 500px;
    overflow: hidden;
    display: flex;
    border: solid black 5px;
}

.BladeImageS {
    max-width: 100%;
    transition: ease 0.3s;
    position: absolute;
    border-radius: 500px;
    left: 0;
    top: 6px;
    z-index: -1;
}


.fadeIMG1{
    opacity: 1;
    z-index: -1;
    transition: ease 1s;
}

.fadeIMG2{
    opacity: 1;
    z-index: -2;
    transition: ease 1s;
}

.fadeIMG3{
    opacity: 1;
    z-index: -3;
    transition: ease 1s;
}

.fadeIMG4{
    opacity: 1;
    z-index: -4;
    transition: ease 1s;
}

.fadeIMG5{
    opacity: 1;
    z-index: -5;
    transition: ease 1s;
}

.BladeImageS:hover {
    transform: scale(1.1);
}

.DivBladeNumber {
    background-color: black;
    padding: 3px 10px;
    position: absolute;
    top: -5px;
}

.BladeNumber {
    color: white;
    font-size: 20px;
    text-align: center;
}

.DivBladePrice {
    background-color: black;
    padding: 3px 10px;
    position: absolute;
    top: 150px;
}

.BladePrice {
    color: white;
    font-size: 15px;
}

.DivIconsShop {
    display: flex;
    gap: 15px;
}

.ShopImgIcon {
    max-width: 100%;
}

.IconsShop {
    background-color: rgb(255, 242, 0);
    border-radius: 500px;
    width: 40px;
    height: 40px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease 0.3s;
}

.IconsShop:hover {
    transform: translateY(-3px);
    padding: 5px;
}

.ContainerBladeInfo {}

.bBlack {
    color: black;
}

.BladeInformation {
    margin-bottom: 8px;
    color: rgb(255 255 255);
    font-weight: 500;
    text-shadow: 1px 1px black;
    font-size: 18px;
}



.ContainerProductsBlade {
    width: 80%;
    margin-top: 80px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.DivProduct {
    height: 115px;
    width: 115px;
    position: relative;
    cursor: pointer;
}

.DivBladeP {
    border: solid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.BladeImageP {
    max-width: 100%;
    transition: ease 0.3s;
}

.BladeImageP:hover {
    transform: scale(1.2);
}

.BladeImageP:active {
    opacity: 0.5;
}

.DivPrice {
    position: absolute;
    background-color: black;
    padding: 3px;
    bottom: -12px;
    left: 20px;
}

.PriceBlade {
    color: white;
    font-size: 13px;
    text-align: center;
}

/* HEADER */

.Header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    background: linear-gradient(141deg, rgba(0, 0, 0, 1) 0%, rgba(24, 24, 24, 1) 82%, rgba(29, 29, 29, 1) 100%);
    padding: 0 90px 0 70px;
    position: fixed;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: ease 1s;
}


.header1 {
    background: linear-gradient(141deg, rgba(0, 0, 0, 1) 0%, rgba(24, 24, 24, 1) 82%, rgba(29, 29, 29, 1) 100%);
    box-shadow: rgb(34, 30, 0) -5px 0px 40px 20px;
    transition: ease 1s;
}

.LogoIcon {
    width: 120%;
}

.NavBar ul {
    display: flex;
    gap: 40px;
    margin-right: 25px;
}

.Navli {
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    opacity: 0.6;
    transition: ease 0.5s;
}

.Navli:hover {
    opacity: 2;
    transform: translateY(-5px);
    text-shadow: rgb(255, 255, 255) 1px 1px 8px;
}

.Navli::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgb(255, 255, 255);
    left: 0;
    bottom: -40px;
    transition: ease 0.5s;
}

.Navli:hover::after {
    width: 100%;
}

.MenuHeader {
    display: none;
}

.MenuIcon {
    display: flex;
    font-size: 45px;
    color: rgb(243 206 0);
}


/* SECTION1 */

.Section1 {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('./images/Background1.png');
    background-size: cover;
    min-height: 100vh;
}

.divSec1 {
    display: flex;
    margin-top: 170px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.LogoCM {
    max-width: 100%;
    height: 40%;

}

.h3Sec1 {
    text-align: center;
    font-size: 28px;
    width: 500px;
    color: white;
}

.divButtonSec1 {
    display: flex;
    gap: 60px;
}

.ButtonW {
    background: linear-gradient(141deg, rgba(255, 222, 0, 1) 0%, rgba(255, 222, 0, 1) 36%, rgba(214, 147, 0, 1) 100%);
    height: 35px;
    width: 150px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: ease 0.5s;
}

.ButtonM {
    background: linear-gradient(141deg, rgba(255, 222, 0, 1) 0%, rgba(255, 222, 0, 1) 36%, rgba(214, 147, 0, 1) 100%);
    height: 35px;
    width: 150px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: ease 0.5s;

}

.ButtonW:hover {
    box-shadow: rgba(255, 222, 0, 1) 0px 0px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: translateY(-5px);

}

.ButtonM:hover {
    box-shadow: rgba(255, 222, 0, 1) 0px 0px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: translateY(-5px);

}


/*SECTION2*/

.Section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    min-height: 90vh;
    padding-top: 125px;
}


.Main1Sec2 {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 25px;
    justify-content: center;
    padding-bottom: 320px;
}

.Span1Sec2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TitleSec2 {
    color: white;
    font-size: 45px;
}

.TextSex2 {
    color: #fffedd;
    font-size: 20px;
    text-shadow: rgb(255, 255, 255) 1px 1px 8px;
}

.ButtonSec2 {
    background-color: #ffeb00;
    margin-top: 35px;
    height: 39px;
    width: 115px;
    font-size: 15px;
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;
}

.Span2Sec2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.TitleHorario {
    color: white;
    font-weight: 900;
    font-size: 30px;
    width: 150px;
}

.DivHorario {}

.DaySec2 {
    color: white;
    font-weight: 200;
    margin-bottom: 25px;
    font-size: 20px;
}

.GoldIcon2Sec2 {
    max-width: 25%;
    height: auto;
    margin: 0 0 0 250px;
}

.Main2Sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    gap: 120px;
    padding: 300px 120px 135px 120px;
    position: relative;
    width: 100%;
}

.ContainerMissions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: absolute;
    top: -70px;
}

.DivMissions {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 61px 20px 20px 20px;
    width: 20%;
    height: 275px;
    justify-content: center;
}

.IconsMissions {
    position: absolute;
    max-width: 35%;
    height: auto;
    top: -50px;
}

.TitleMissions {
    color: white;
    margin-bottom: 25px;
    text-align: center;
}

.TextMissions {
    text-align: center;
    color: #747474;
}

.TitleService {
    font-size: 40px;
    color: white;
}

.ContainerServices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.DivService {
    display: flex;
    gap: 12px;
    width: 360px;
}

.IconService {
    max-width: 24%;
    height: 100%;
}

.ServiceTexts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.H2Service {
    color: white;
    font-size: 20px;
}

.TextService {
    color: #bbbbbb;
    font-size: 15px;
}

/*SECTION3*/

.Section3 {
    min-height: 120vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(180deg, rgb(34 34 34) 0%, rgba(255, 255, 255, 1) 2%, rgba(255, 255, 255, 1) 100%);
    align-items: center;
    padding-top: 170px;
}

.HeaderSec3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    width: 100%;
    margin-top: 10px;
}

.TextCenterSec3 {
    display: flex;
    align-items: center;
    margin-top: 170px;
    gap: 40px;
    border-bottom: solid 3px #000000;
    width: 80%;
    padding: 70px 0;
}

.PsCenterTexts {
    display: flex;
    flex-direction: column;
}

.pCenterSec3 {
    font-weight: 600;
    padding-bottom: 50px;
    font-size: 23px;
    width: 90%;
    text-align: start;
}

.ImageExampleSex3 {
    max-width: 35%;
}

.DivSec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 59px;
}

.TitleMarks {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 35px;
    text-align: center;
    margin-top: 120px;
}

.BladeMarks {
    display: flex;
    gap: 20px;
    margin-bottom: 180px;
}

.DivMark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 222, 0, 1);
    padding: 29px;
    width: 200px;
    height: 285px;
    gap: 25px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.5;
    position: relative;
    transition: ease 0.5s;
}

.DivMark:hover {
    opacity: 2;
    transform: scale(1.1);
    transform: translateY(-35px);
}

.DivBladeImage {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
    background-color: rgba(255, 222, 0, 1);
    border-radius: 12px;
}

.DivBladeImage:hover {
    opacity: 0;
}

.LogoMark {
    max-width: 70%;
}

.LogoMark1 {
    max-width: 60%;
}

.TextMark {
    text-align: center;
    font-weight: 600;
}

.TitleMaterial {
    font-weight: 900;
    font-size: 30px;
    width: 220px;
    text-align: center;
    margin-bottom: 50px;
}

.BladeMaterial {
    display: flex;
    gap: 5px;
    background-color: #dbdbdb;
}

.ContainerBladeIF {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 354px;
    padding: 15px 60px;
    background-color: white;
}

.BladeExample {
    max-width: 100%;
    height: auto;
}

.MaterialDescription {
    text-align: center;
    font-size: 20px;
}

.TitleSec3 {
    width: 800px;
    font-size: 45px;
    text-align: center;
}

.IconSec3 {
    max-width: 100%;
    height: 170%;
    transform: rotate(-10deg);
}

.carousel {
    display: flex;
    gap: 70px;
    margin-top: 200px;
    justify-content: center;
}


.bladeContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 12px;
    width: 225px;
    position: relative;
    cursor: pointer;
    transition: ease 0.8s;
    border-radius: 8px;
}

.bladeContainer::after {
    content: "";
    background-color: black;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 100px;
    top: -90px;
}

.bladeContainer:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: translateY(-10px);
}

.Bladeimage {
    width: 50%;
    cursor: pointer;
    transition: ease 0.4s;
    padding-top: 10px;
}

.Bladeimage:hover {
    transform: scale(1.1);
}

.BladeName {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.BladeDescription {
    text-align: center;
    width: 100%;
    font-family: cursive;
}

.TextDownSex3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 120px;
    border-top: solid 3px black;
    padding-top: 80px;
    width: 60%;
}

.h2DownSec3 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    width: 590px;
    color: #e9ba00;
    font-size: 45px;
}

.pDownSec3 {
    font-size: 30px;
    text-align: center;
    width: 800px;
    font-weight: 600;
}

.SpanCompareSec3 {
    display: flex;
    margin-top: 130px;
    justify-content: space-around;
    gap: 150px;
}

.MaterialSec3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 30%) 12px 10px 12px, rgb(0 0 0 / 22%) 0px 25px 26px;
    padding: 25px;
}

.TitleMaterial1 {
    color: #e3b600;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Madimi One';
    margin-left: 35px;
}

.TextsList1 {
    border-left: solid 4px #cda400;
    padding-left: 12px;
    padding: 4px 12px;
}

.liLM {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 540px;
}

.MaterialSec3 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.TitleMaterial2 {
    color: #eabb00;
    font-size: 40px;
    margin-bottom: 20px;
    /* font-family: 'Madimi One'; */
    font-family: 'Madimi One';
    margin-left: 35px;
}

.TextsList2 {
    border-left: solid 4px #e7b900;
    padding-left: 12px;
    padding: 4px 12px;
}

.liLC {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 540px;
}

.AreaCare {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 223, 0);
    width: 100%;
    justify-content: center;
    padding: 70px;
    margin-top: 100px;
}

.TitleCare {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 80px;
}

.DivsCare {
    display: flex;
    gap: 50px;
}

.ContainerCare {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 194px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 8.95px 9.95px 12.6px;
}

.CareIcon {
    max-width: 50%;
    margin-bottom: 30px;
}

.CareTitle {
    font-weight: 900;
    margin-bottom: 8px;
}

.CareText {
    text-align: center;
    font-weight: 600;
}


/*SECTION4*/

.Section4 {
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 70px 0;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 100%);
    align-items: center;
}

.HeaderSec4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    width: 100%;
    margin-top: 270px;
    gap: 75px;
}

.DivHeaderSec4 {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.TitleSec4 {
    width: 450px;
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
}

.Text1Sec4 {
    color: #b6b6b6;
    margin-top: 20px;
    font-size: 23px;
}

.DogExSec4 {
    max-width: 100%;
    height: 450px;
}

.MarksSec4 {
    margin-top: 354px;
    width: 100%;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 120px 0;
}

.Area1Sec4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 150px;
}

.ContainerCuidados {
    display: flex;
    gap: 43px;
    position: relative;
    top: -75px;
}

.DivCuidados {
    display: flex;
    justify-content: center;
    background-color: #232323;
    width: 275px;
    flex-direction: column;
    padding: 67px 15px 25px;
    gap: 20px;
    border-radius: 10px;
}

.TitleCuidado {
    color: white;
    font-weight: 700;
    font-size: 25px;
    width: 170px;
}

.TextCuidado {
    color: #c8c8c8;
    font-weight: 500;
    font-size: 18px;
}

.TextArea1 {
    color: #ffcd00;
    text-align: center;
    font-size: 23px;
    width: 50%;
    padding: 15px;
    border: 3px dashed;
}



.Area2Sec4 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.TitleArea2 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    width: 250px;
}

.ContainerMarks {
    display: flex;
    gap: 30px;
}

.DivMarksTesouras {
    border: solid 3px #ffd100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 27px 12px;
    width: 230px;
    gap: 12px;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: ease 0.5s;
    height: 285px;
}

.DivMarksTesouras:hover {
    transform: translateY(-15px);
    box-shadow: rgb(187, 162, 0) 0px 0px 37px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.DivLogoBlade {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #252525;
    border-radius: 12px;
    transition: ease 0.5s;
}

.DivLogoBlade:hover {
    opacity: 0;
}

.LogoBlade {
    max-width: 60%;
    position: absolute;
}

.TitleTesoura {
    color: #ffcd00;
    font-weight: 700;
    font-size: 25px;
}

.TextTesoura {
    color: #d5d5d5;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    font-size: 15px;
}

.carousel {
    display: flex;
    gap: 70px;
    margin-top: 200px;
    justify-content: center;
}

.ScissorsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 12px;
    width: 230px;
    position: relative;
    cursor: pointer;
    transition: ease 0.8s;
    border-radius: 8px;
}

.ScissorsContainer::after {
    content: "";
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 100px;
    top: -100px;
}

.ScissorsContainer:hover {
    box-shadow: rgba(132, 110, 0, 0.3) 0px 19px 38px, rgba(152, 142, 0, 0.22) 0px 15px 12px;
    transform: translateY(-10px);
}

.Scissorsimage {
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.4s;
    border: solid 2px #ffcc00;
    padding: 8px;
}

.Scissorsimage:hover {
    transform: scale(1.1);
}

.ScissorsName {
    font-weight: 600;
    font-size: 20px;
    color: #e99f00;
}

.ScissorsDescription {
    text-align: center;
    width: 100%;
    font-family: cursive;
    color: white;
}

.textdivHSec4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.TextTitle {
    color: white;
    font-size: 36px;
    width: 300px;
    margin-bottom: 100px;
}

.SpanSec4 {
    display: flex;
    gap: 45px;
}

.TesouradivText {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 8px;
}

.TitleTStext {
    display: flex;
    gap: 15px;
}

.NumberText {
    background-color: yellow;
    border-radius: 50px;
    padding: 4px;
    width: 33px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.TsText {
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.TextTs {
    color: white;
    font-size: 18px;
}



.divTextsSec4 {
    display: flex;
    gap: 25px;
    margin-top: 150px;
}

.DivTextSec4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px #745600;
    padding: 20px;
    width: 250px;
    height: 320px;
    background: rgb(66, 39, 0);
    background: linear-gradient(0deg, rgba(66, 39, 0, 1) 0%, rgba(0, 0, 0, 1) 56%);
    margin-bottom: 50px;
    transition: ease 0.5s;
    cursor: pointer;
}

.DivTextSec4:hover {
    transform: translateY(-15px);
}

.textp {
    color: yellow;
    font-weight: 700;
    font-size: 37px;
}

.texth2 {
    color: yellow;
    font-weight: 700;
    font-size: 55px;
    margin-top: 68px;
}


/*SECTION5*/

.Section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
    padding-bottom: 150px;
}

.HeaderSec5 {
    background-image: url(./images/ExampleImages/BackDarkGray.png);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 70px 0;
}

.DivHeaderSec5 {
    width: 50%;
    height: 298px;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #282828;
    margin-top: 25px;
    border-radius: 12px;
    align-items: center;
}

.spansHSec5 {}

.HeadlineSec5 {
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.TextHSec5 {
    text-align: center;
    color: #c2c2c2;
    font-size: 20px;
}

.ExampleHSec5 {
    max-width: 100%;
    height: 100%;
}



.Sec5Part1 {
    padding: 170px 0;
}

.TitlesSec5 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Sec5About {
    text-align: center;
    color: #d0ae04;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 13px;
}

.Sec5Categories {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 37px;
    letter-spacing: 2px;
}

.DivTosaTypes {
    display: flex;
    gap: 100px;
    margin-top: 100px;
}

.ContainerTosas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    gap: 55px;
}

.DivImageTosa {
    position: relative;
    border-radius: 500px;
    height: 250px;
    width: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 8px #3f3f3f;
}

.TosaType {
    position: absolute;
    text-align: center;
    color: white;
    font-weight: 700;
    text-shadow: 0px 3px 1px black;
    font-size: 25px;
    width: 150px;
    z-index: 1;
}

.ExamplesTosa {
    max-width: 150%;
    height: 100%;
    transition: all 0.8s;
}

.ExamplesTosa:hover {
    transform: scale(1.1);
}

.TextsTosa {}

.DescTosa {
    text-align: center;
    color: silver;
    font-size: 18px;
    margin-bottom: 25px;
}

.MoreAbout {
    text-align: center;
    color: #ffee00;
    cursor: pointer;
    transition: ease 0.5s;
}

.MoreAbout:hover {
    text-shadow: rgb(255, 213, 0) 1px 1px 15px;
    transform: translateY(-5px);
}



.Sec5Part2 {
    margin-top: 150px;
}

.TitlesMachines {
    position: absolute;
    left: 80px;
}

.TitleMachineType {
    color: white;
    font-size: 37px;
    margin-bottom: 10px;
}

.DescTitle {
    color: #ffe400;
    font-size: 20px;
}


.DivPart2 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContainerMachines {
    display: flex;
    margin-top: 320px;
    gap: 90px;
}

.MachineType {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 230px;
    cursor: pointer;
}

.MachineTosa {
    background-color: #2a2a2a;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
    width: 285px;
    transition: all 0.5s;
}

.MachineTosa:hover {
    transform: scale(1.02);
    box-shadow: rgb(139, 139, 139) 0px 0px 37px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.MachineImg {
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: -90px;
    transition: all 0.5s;
}

.MachineImg:hover {
    transform: scale(1.05);
}

.TitleCategory {
    color: white;
    font-weight: 700;
    text-align: center;
    position: absolute;
    bottom: 25px;
    font-size: 23px;
}

.DescMachine {
    color: #9f9f9f;
    text-align: center;
    font-size: 18px;
}





.DivPart3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    width: 80%;
}

.TitlePart3 {
    text-align: center;
    color: white;
}

.ContainerCuidados2 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}

.DivCuidadosP3 {
    display: flex;
    align-items: center;
    background-color: #282828;
    gap: 8px;
    padding: 15px 35px 15px 15px;
    width: 432px;
    border-radius: 12px;
}

.IconCuidados {
    max-width: 100%;
    height: 65%;
}

.CuidadosTexts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.TitleCuidados {
    color: white;
    font-weight: 700;
}

.DescCuidaoText {
    color: #cacaca;
    font-weight: 500;
}


/*SECTION6*/

.Section6 {
    display: flex;
    background-image: url(./images/Background3.png);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    min-height: 200vh;
    padding-bottom: 70px;
}

.HeaderSec6 {
    background-image: url(./images/Background2.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    position: relative;
    width: 100%;
}

.DivHeaderSec6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    bottom: -250px;
    position: relative;
}

.SpanHeaderSec6 {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 300px;
}

.H1HeaderSec6 {
    color: white;
    font-weight: 700;
    font-size: 38px;
}

.pHeaderSec6 {
    color: white;
    font-size: 20px;
}



.ContainerSpan {
    display: flex;
    background-color: white;
    width: 65%;
    border-radius: 20px;
}

.BoxYellowSpan {
    background-color: #ffdb00;
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TitleEquipament {
    font-weight: 700;
    font-size: 22px;
}

.SecadoresText {
    font-weight: 500;
    font-size: 15px;
}

.SopradoresText {
    font-weight: 500;
    font-size: 15px;
}

.FindEquipament {
    color: white;
    background-color: black;
    height: 50px;
    width: 234px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: ease 0.5s;
}

.FindEquipament:hover {
    transform: scale(1.03);
}


.QualitiesHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    padding-top: 35px;
}

.ContainerQuality {
    width: 130px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.SearchIcon {
    font-size: 25px;
}

.IconChecked {
    max-width: 100%;
    height: 25%;
}

.TextsQuality {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.TitleQuality {
    font-weight: 700;
    font-size: 18px;
}

.TextQuality {
    font-weight: 500;
    font-size: 13px;
}

.CuidadosSec6 {
    width: 100%;
    display: flex;
    z-index: 2;
    background-color: gray;
    padding: 75px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    flex-wrap: wrap;
}

.Sec6Cuidados {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    gap: 20px;
    width: 240px;
    height: 260px;
    justify-content: center;
    position: relative;
}

.IconCuidadosS6 {
    max-width: 100%;
    height: 23%;
    position: absolute;
    top: -30px;
    left: 30px;
    border-radius: 8px;
}

.S6Cuidados1 {
    font-weight: 700;
    text-align: center;
    font-size: 23px;
}

.S6Cuidados2 {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}



.Sec6Marks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    justify-content: center;
}

.EQTitle {
    font-weight: 700;
    font-size: 30px;
}

.ContainerEQMarks {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    width: 60%;
    justify-content: center;
    margin-top: 80px;
    align-items: center;
}

.EquipamentMark {
    background-color: rgb(255, 255, 255);
    height: 350px;
    width: 250px;
    border-radius: 12px;
    cursor: pointer;
    transition: ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.EquipamentMark:hover {
    transform: translateY(-15px);
    box-shadow: rgba(255, 221, 0, 0.352) 0px 0px 67px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.MarkLogo {
    max-width: 90%;
}

.Minag {
    background-color: rgb(48, 73, 155);
}

.Graçapet {
    background-color: rgb(255, 221, 0);
}

.Hardwind {
    background-color: rgb(167, 167, 167);
}




.EquipamentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.DivEquipament {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 70px;
}

.ContainerEquip {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.SecadorBackground {
    background-color: rgb(243, 243, 243);
    border-radius: 12px;
    height: 400px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
    transition: ease 0.5s;
    overflow: hidden;
}

.SecadorBackground:hover {
    transform: translateY(-15px);
    background-color: white;
    box-shadow: rgba(255, 221, 0, 0.352) 0px 0px 67px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.SecadorImages {
    max-width: 100%;
    transition: ease 0.5s;
}

.SecadorImages:hover {
    transform: scale(1.1);
}

.SecadorDesc {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    width: 350px;
}

.SopradorBackground {
    background-color: rgb(243, 243, 243);
    border-radius: 12px;
    height: 330px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    transition: ease 0.5s;
    overflow: hidden;
}

.SopradorBackground:hover {
    transform: translateY(-15px);
    background-color: white;
    box-shadow: rgba(255, 221, 0, 0.352) 0px 0px 67px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.SopradorImages {
    max-width: 100%;
    transition: ease 0.5s;
}

.SopradorImages:hover {
    transform: scale(1.2);
}

.SopradorDesc {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    width: 300px;
}

@media screen and (max-width: 900px) {
    .General {
        min-width: 390px;
    }

    /*HEADER*/
    .Header {
        position: fixed;
    }

    /*HEADER elements*/
    .MenuHeader {
        display: flex;
    }

    .Header {
        padding: 0 20px 0 20px;
    }

    .NavBar ul {
        display: none;
        gap: 40px;
        margin-right: 25px;
        flex-direction: column;
        position: fixed;
        top: 15px;
        right: -425px;
        background-color: #2a2a2a;
        padding: 25px;
        border-radius: 10px;
        transition: ease 0.5s;
    }

    /* SELECTIONS BLADES */
    .Selection1 {
        padding: 10px;
        width: 95%;
        min-height: 85%;
        border-radius: 20px;
    }

    .BladeSInfo {
        flex-direction: column;
    }

    .CloseButton{
        z-index: 2;
    }

    .BladeSelected {
        height: 180px;
        width: 180px;
    }

    .DivBladePrice {
        top: 160px;
    }

    .ContainerBladeInfo {
        width: 100%;
    }

    .ContainerProductsBlade {
        justify-content: center;
        margin-top: 20px;
    }

    .DivProduct {
        height: 170px;
        width: 170px;
    }

    .DivPrice{
        left: 33px;
    }

    .PriceBlade{
        font-size: 18px;
    }

    /* SECTION 1*/

    .Section1 {
        min-height: 80vh;
    }

    .divSec1 {
        padding-top: 50px;
    }

    .h3Sec1 {
        width: 90%;
    }

    .MiniServices {
        flex-direction: column-reverse;
    }

    /* SECTION 2*/

    .Section2 {
        flex-direction: column;
        min-height: 90vh;
        padding-top: 125px;
    }

    .Main1Sec2 {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 50px;
        justify-content: center;
        padding-bottom: 120px;

    }

    .Span1Sec2 {
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }



    .GoldIcon2Sec2 {
        max-width: 80%;
        margin: 50px 0px;
    }

    .Main1Sec2 {
        flex-direction: column-reverse;
    }

    .Main2Sec2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(34, 34, 34);
        gap: 120px;
        padding: 125px 0;
        position: relative;
        width: 100%;
    }

    .ContainerMissions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        position: initial;
        flex-direction: column;
    }

    .DivMissions {
        width: 80%;
        height: 275px;
    }

    .ContainerServices {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
        flex-direction: column;
    }

    /* SECTION 3*/

    .Section3 {
        padding: 280px 10px 10px 10px;
    }

    .TitleSec3 {
        font-size: 30px;
        width: 100%;
    }

    .IconSec3 {
        max-width: 16%;
        height: auto;
    }

    .TextCenterSec3 {
        margin-top: 30px;
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .PsCenterTexts{
        align-items: center;
    }

    .pCenterSec3 {
        font-size: 20px;
        font-size: 24px;
        width: 90%;
        text-align: center;
        margin-bottom: 50px;
    }

    .ImageExampleSex3 {
        max-width: 85%;
    }

    .BladeMarks {
        display: flex;
        gap: 40px;
        margin-bottom: 80px;
        flex-direction: column;
    }

    .DivMark {
        align-items: center;
        justify-content: center;
        width: 205px;
        height: 300px;
    }

    .LogoMark {
        max-width: 70%;
    }

    .BladeMaterial {
        flex-direction: column;
        background: transparent;
        gap: 60px;
        margin-bottom: 170px;
    }

    .carousel {
        width: 100%;
        margin-top: 50px;
        align-items: center;
        overflow-x: scroll;
        justify-content: start;
    }

    .bladeContainer::after {
        width: 15px;
        height: 15px;
        top: -51px;
    }

    .TextDownSex3 {
        width: 90%;
    }

    .h2DownSec3 {
        width: 100%;
        font-size: 27px;
    }

    .pDownSec3 {
        width: 100%;
        font-size: 20px;
    }

    .SpanCompareSec3 {
        gap: 50px;
        flex-direction: column;
    }

    .TitleMaterial1 {
        font-size: 30px;
    }

    .liLM {
        font-size: 20px;
        width: 100%;
    }

    .TitleMaterial2 {
        font-size: 30px;
    }

    .liLC {
        font-size: 20px;
        width: 100%;
    }

    .DivsCare {
        flex-direction: column;
    }

    /* SECTION 4*/

    .Section4 {
        padding: 1px 10px;
    }

    .HeaderSec4 {
        margin-top: 340px;
        flex-direction: column;
    }

    .DivHeaderSec4 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 350px;
    }

    .TitleSec4 {
        font-size: 30px;
        text-align: center;
        width: 90%;
        margin-bottom: 80px;
    }

    .ContainerCuidados {
        flex-direction: column;
    }

    .DogExSec4 {
        max-width: 100%;
        height: 280%;
    }

    .MarksSec4 {
        margin-top: 850px;
        width: 100%;
    }

    .Area1Sec4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 120px;
    }

    .TextArea1 {
        color: #ffcd00;
        text-align: center;
        font-size: 23px;
        width: 95%;
        padding: 15px;
        border: 3px dashed;
        margin-top: 20px;
    }

    .Area2Sec4 {
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: center;
    }

    .ContainerMarks {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .ScissorsContainer {
        width: 263px;
    }

    .ScissorsName {
        font-size: 24px;
    }

    .ScissorsDescription {
        text-align: center;
        font-size: 20px;
    }

    .ScissorsContainer::after {
        width: 15px;
        height: 15px;
        top: -45px;
    }

    .textdivHSec4 {
        flex-direction: column;
        align-items: center;
        margin-top: 170px;
        overflow: hidden;
    }

    .SpanSec4 {
        display: flex;
        gap: 45px;
        flex-wrap: wrap;
    }

    .TitleTStext {
        justify-content: center;
    }

    .TextTs {
        color: white;
        font-size: 18px;
        text-align: center;
    }

    .TextTitle {
        font-size: 35px;
        text-align: center;
    }

    .IconSec4 {
        max-width: 18%;
        height: auto;
    }

    .TextTitle {
        font-size: 35px;
    }

    .pCenterSec4 {
        width: 100%;
        font-size: 20px;
    }

    .Textlorem {
        width: 100%;
        font-size: 20px;
    }

    .divTextsSec4 {
        width: 100%;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
    }

    .DivTextSec4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 3px #745600;
        padding: 20px;
        width: 250px;
        height: 285px;
        background: linear-gradient(0deg, rgba(66, 39, 0, 1) 0%, rgba(0, 0, 0, 1) 56%);
        margin-bottom: 0;
        transition: ease 0.5s;
        cursor: pointer;
    }

    .textp {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    .texth2 {
        color: yellow;
        font-weight: 700;
        font-size: 70px;
        margin-top: 52px;
    }



    .Section5 {
        padding-bottom: 100px;
    }

    .HeaderSec5 {
        align-items: center;
    }

    .DivHeaderSec5 {
        width: 90%;
        height: 650px;
        gap: 0px;
        padding: 20px;
        margin-top: 25px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .HeadlineSec5 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 15px;
    }

    .TextHSec5 {
        text-align: center;
        font-size: 20px;
    }

    .ExampleHSec5 {
        max-width: 85%;
        height: 45%;
    }

    .Sec5Categories {
        font-size: 37px;
    }

    .DivTosaTypes {
        display: flex;
        gap: 100px;
        margin-top: 100px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Sec5Part2 {
        margin-top: 0;
    }

    .TitlesMachines {
        left: 0;
        padding: 20px;
    }

    .TitleMachineType {
        font-size: 37px;
        text-align: center;
    }

    .DescTitle {
        font-size: 20px;
        text-align: center;
    }

    .ContainerMachines {
        margin-top: 380px;
        gap: 150px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .MachineTosa {
        height: 250px;
        width: 260px;
        transition: all 0.5s;
    }

    .TitleCategory {
        font-size: 25px;
    }

    .DivPart3 {
        align-items: center;
        flex-direction: column;
        margin-top: 150px;
        width: 80%;
    }

    .TitlePart3 {
        font-size: 30px;
    }

    .DivCuidadosP3 {
        gap: 0px;
        padding: 8px;
        width: 85%;
        flex-wrap: wrap;
        justify-content: center;
        height: 300px;
    }

    .IconCuidados {
        max-width: 100%;
        height: 30%;
    }

    .TitleCuidados {
        text-align: center;
        font-size: 25px;
    }

    .DescCuidaoText {
        text-align: center;
        font-size: 17px;
    }




    .DivHeaderSec6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        bottom: -250px;
        position: relative;
        margin-top: 400px;
    }

    .SpanHeaderSec6 {
        width: 90%;
        margin-right: 0;
    }

    .H1HeaderSec6 {
        font-size: 38px;
        text-align: center;
    }

    .pHeaderSec6 {
        font-size: 20px;
        text-align: center;
    }

    .ContainerSpan {
        display: flex;
        background-color: white;
        width: 85%;
        border-radius: 20px;
        flex-direction: column;
    }

    .BoxYellowSpan {
        background-color: #ffdb00;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .TitleEquipament {
        font-size: 30px;
        text-align: center;
    }

    .SecadoresText {
        font-size: 18px;
    }

    .SopradoresText {
        font-size: 18px;
    }

    .QualitiesHeader {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        padding-top: 35px;
        padding-bottom: 25px;
    }

    .ContainerQuality {
        width: 200px;
        display: flex;
        justify-content: center;
        gap: 8px;
        height: 150px;
        flex-direction: column;
        align-items: center;
    }

    .IconChecked {
        max-width: 100%;
        height: 35%;
    }

    .TextsQuality {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .TitleQuality {
        font-size: 25px;
    }

    .TextQuality {
        font-size: 18px;
        text-align: center;
    }

    .CuidadosSec6 {
        width: 100%;
        z-index: 2;
        padding: 75px;
        gap: 40px;
        align-items: center;
        justify-content: center;
        margin-top: 900px;
    }

    .Sec6Marks {
        justify-content: center;
    }

    .DivEquipament {
        justify-content: center;
    }

}