* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;
    list-style: none;
    font-family: "Roboto", sans-serif;
    border: none;
    outline: none;
}

.General {
    min-width: 800px;
}

b {
    color: #e6c544;
}

/* Blur */

.Blur {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.225);
    backdrop-filter: blur(7px);
    position: fixed;
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
}

.bBlack {
    color: black;
}

.Menu1 {
    background-color: rgba(255, 255, 255, 0.307);
    backdrop-filter: blur(7px);
    border-radius: 12px;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.M1divselect {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.CloseButton {
    position: absolute;
    color: white;
    opacity: 0.7;
    font-size: 30px;
    right: 25px;
    cursor: pointer;
    background-color: rgb(255 255 255 / 20%);
    border-radius: 50px;
    width: 35px;
    text-align: center;
}

.CloseButton:hover {
    opacity: 1;
    transform: scale(1.1);
}

.DivimageSelected {
    height: 150px;
    width: 150px;
    border: 4px solid rgb(255, 202, 0);
    border-radius: 5px;
    position: relative;
    display: flex;
}

.IconCp {
    max-width: 70%;
}

.IconMc {
    max-width: 80%;
}

.IconWa {
    max-width: 60%;
}

.ButtonCompare {
    border-radius: 50px;
    background-color: #ffca00;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: -39px;
    width: 36px;
    cursor: pointer;
    transition: ease 0.5s;
}

.ButtonCompare:hover {
    background-color: #ffdb4a;
    transform: scale(1.1);
}

.ButtonMc {
    border-radius: 50px;
    background-color: #ffca00;
    font-size: 30px;
    position: absolute;
    bottom: 45px;
    right: -38px;
    width: 36px;
    cursor: pointer;
    transition: ease 0.5s;
}

.ButtonMc:hover {
    background-color: #ffdb4a;
    transform: scale(1.1);
}

.ButtonWa {
    border-radius: 50px;
    background-color: #ffca00;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    right: -38px;
    width: 36px;
    cursor: pointer;
    transition: ease 0.5s;
}

.ButtonWa:hover {
    background-color: #ffdb4a;
    transform: scale(1.1);
}

.ImageSelected {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.M1divtexts {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.Description {
    color: white;
    margin-top: 8px;
    text-shadow: black 1px 1px 2px;
    border-bottom: solid 1px #717171;
    padding-bottom: 5px;
    width: 90%;
}

.BladesSelections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    overflow-y: scroll;
    height: 150px;
    width: 90%;
    margin-top: 25px;
}

.DivimageSelection {
    height: 120px;
    width: 120px;
    border: solid 3px #ffffff87;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
}

.ImageSelection {
    max-width: 100%;
    border-radius: 5px;
    height: auto;
    transition: ease 0.5s;
}

.ImageSelection:hover {
    transform: scale(1.1);
}

/* Blur2 */

.Blur2 {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.225);
    backdrop-filter: blur(7px);
    position: fixed;
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
}

.Menu2 {
    background-color: rgba(255, 255, 255, 0.504);
    backdrop-filter: blur(7px);
    border-radius: 12px;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.CompButtons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 10px;
}

.ButtonAbout {
    background-color: yellow;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.AboutIcon {
    width: 100%;
}

.CloseButton2 {
    color: white;
    opacity: 0.7;
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(255 255 255 / 20%);
    border-radius: 50px;
    width: 35px;
    text-align: center;
}

.CompDescription {
    text-align: center;
    width: 80%;
    margin-top: 25px;
    font-weight: 500;
    color: white;
}

.CompareImages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DivimageSelected2 {
    background-color: black;
    height: 150px;
    width: 150px;
    border: solid 4px #ffca00;
    border-radius: 5px;
    position: relative;
    display: flex;
}

.CompareBlades {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.CompareImage {
    width: 15%;
}


.OtherBlades {
    grid-template-columns: repeat(5, 1fr);
    width: 70%;
    display: grid;
    gap: 25px;
    align-items: center;
    justify-content: center;
}


/* HEADER */

.Header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    background: linear-gradient(141deg, rgba(0, 0, 0, 1) 0%, rgba(24, 24, 24, 1) 82%, rgba(29, 29, 29, 1) 100%);
    padding: 0 90px 0 70px;
    position: fixed;
    z-index: 2;
    box-shadow: rgb(0 0 0) -5px 0px 40px 20px;
    transition: ease 1s;
}

/*Header colors*/

.header1 {
    background: linear-gradient(141deg, rgba(0, 0, 0, 1) 0%, rgba(24, 24, 24, 1) 82%, rgba(29, 29, 29, 1) 100%);
    box-shadow: rgb(34, 30, 0) -5px 0px 40px 20px;
    transition: ease 1s;
}

.header2 {
    background: rgb(239, 195, 0);
    box-shadow: rgb(216 179 84) -5px 0px 40px 20px;
    transition: ease 1s;
}

.header3 {
    background: black;
    box-shadow: rgb(34, 30, 0) -5px 0px 40px 20px;
    transition: ease 1s;
}

.LogoIcon {
    width: 120%;
}

.NavBar ul {
    display: flex;
    gap: 40px;
    margin-right: 25px;
}

.Navli {
    color: white;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    opacity: 0.8;
}

.Navli:hover {
    opacity: 1;
    transform: translateY(-5px);
    text-shadow: #ffffff 1px 1px 8px;
}

.Navli::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: -5px;
    transition: ease 0.5s;
}

.Navli:hover::after {
    width: 100%;
}


/* SECTION1 */

.Section1 {
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url('./images/Background1.png');
    background-size: cover;
    min-height: 100vh;
}

.divSec1 {
    display: flex;
    margin-top: 105px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.LogoCM {
    max-width: 100%;
    height: 40%;

}

.h3Sec1 {
    text-align: center;
    font-size: 28px;
    width: 500px;
    color: white;
}

.divButtonSec1 {
    display: flex;
    gap: 60px;
}

.ButtonW {
    background: linear-gradient(141deg, rgba(255, 222, 0, 1) 0%, rgba(255, 222, 0, 1) 36%, rgba(214, 147, 0, 1) 100%);
    height: 35px;
    width: 150px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: ease 0.5s;
}

.ButtonM {
    background: linear-gradient(141deg, rgba(255, 222, 0, 1) 0%, rgba(255, 222, 0, 1) 36%, rgba(214, 147, 0, 1) 100%);
    height: 35px;
    width: 150px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: ease 0.5s;

}

.ButtonW:hover {
    box-shadow: rgba(255, 222, 0, 1) 0px 0px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: translateY(-5px);

}

.ButtonM:hover {
    box-shadow: rgba(255, 222, 0, 1) 0px 0px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: translateY(-5px);

}


/*SECTION2*/

.Section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    min-height: 90vh;
    padding-top: 125px;
}


.Main1Sec2 {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 25px;
    justify-content: center;
    padding-bottom: 320px;
}

.Span1Sec2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TitleSec2 {
    color: white;
    font-size: 35px;
}

.TextSex2 {
    color: #717171;
}

.ButtonSec2 {
    background-color: #ffeb00;
    margin-top: 35px;
    height: 39px;
    width: 115px;
    font-size: 15px;
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;
}

.Span2Sec2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.TitleHorario {
    color: white;
    font-weight: 900;
    font-size: 25px;
    width: 135px;
}

.DivHorario {}

.DaySec2 {
    color: white;
    font-weight: 200;
    margin-bottom: 17px;
}

.GoldIcon2Sec2 {
    max-width: 25%;
    height: auto;
    margin: 0 0 0 250px;
}

.Main2Sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    gap: 120px;
    padding: 300px 120px 135px 120px;
    position: relative;
    width: 100%;
}

.ContainerMissions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: absolute;
    top: -70px;
}

.DivMissions {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 61px 20px 20px 20px;
    width: 20%;
    height: 275px;
    justify-content: center;
}

.IconsMissions {
    position: absolute;
    max-width: 35%;
    height: auto;
    top: -50px;
}

.TitleMissions {
    color: white;
    margin-bottom: 25px;
    text-align: center;
}

.TextMissions {
    text-align: center;
    color: #747474;
}

.TitleService {
    font-size: 40px;
    color: white;
}

.ContainerServices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.DivService {
    display: flex;
    gap: 12px;
    width: 360px;
}

.IconService {
    max-width: 24%;
    height: 100%;
}

.ServiceTexts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.H2Service {
    color: white;
    font-size: 20px;
}

.TextService {
    color: #bbbbbb;
    font-size: 15px;
}

/*SECTION3*/

.Section3 {
    min-height: 120vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(180deg, rgb(34 34 34) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 100%);
    align-items: center;
    padding-top: 280px;
}

.HeaderSec3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    width: 100%;
    margin-top: 10px;
}

.TextCenterSec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 50px;
}


.pCenterSec3 {
    font-size: 35px;
    font-weight: 600;
    width: 950px;
    border-bottom: solid 3px #000000;
    padding-bottom: 50px;
    margin-bottom: 60px;
    text-align: center;
    margin-top: 70px;
}

.DivSec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 59px;
}

.TitleMarks{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 35px;
    text-align: center;
}

.BladeMarks{
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
}

.DivMark{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 222, 0, 1);
    padding: 29px;
    width: 225px;
    height: 300px;
    gap: 25px;
    border-radius: 8px;
    cursor: pointer;
}
.DivMarkShow{
    background-color: rgba(255, 222, 0, 1);
}

.LogoMark{
    max-width: 100%;
    height: 25%;
}

.TextMark{
    text-align: center;
    font-weight: 600;
    display: none;
}

.TitleMaterial{
    font-weight: 900;
    font-size: 30px;
    width: 220px;
    text-align: center;
    margin-bottom: 50px;
}

.BladeMaterial{
    display: flex;
    gap: 5px;
    background-color: #dbdbdb;
}

.ContainerBladeIF {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 254px;
    padding: 15px 18px;
    background-color: white;
}

.BladeExample{
    max-width: 100%;
    height: auto;
}

.MaterialDescription{
    text-align: center;
    font-size: 20px;
}

.TitleSec3 {
    width: 800px;
    font-size: 45px;
    text-align: center;
    text-shadow: #6b6b6b 1px 1px 12px;
}

.IconSec3 {
    max-width: 100%;
    height: 170%;
    transform: rotate(-10deg);
}

.carousel {
    display: flex;
    gap: 70px;
    margin-top: 200px;
    justify-content: center;
}


.bladeContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 12px;
    width: 225px;
    position: relative;
    cursor: pointer;
    transition: ease 0.8s;
    border-radius: 8px;
}

.bladeContainer::after {
    content: "";
    background-color: black;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 100px;
    top: -90px;
}

.bladeContainer:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: translateY(-10px);
}

.Bladeimage {
    width: 50%;
    cursor: pointer;
    transition: ease 0.4s;
    padding-top: 10px;
}

.Bladeimage:hover {
    transform: scale(1.1);
}

.BladeName {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.BladeDescription {
    text-align: center;
    width: 100%;
    font-family: cursive;
}

.TextDownSex3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 120px;
    border-top: solid 3px black;
    padding-top: 80px;
    width: 60%;
}

.h2DownSec3 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    width: 590px;
    color: #e9ba00;
    font-size: 45px;
}

.pDownSec3 {
    font-size: 30px;
    text-align: center;
    width: 800px;
    font-weight: 600;
}

.SpanCompareSec3 {
    display: flex;
    margin-top: 130px;
    justify-content: space-around;
    gap: 150px;
}

.MaterialSec3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 30%) 12px 10px 12px, rgb(0 0 0 / 22%) 0px 25px 26px;
    padding: 25px;
}

.TitleMaterial1 {
    color: #e3b600;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Madimi One';
    margin-left: 35px;
}

.TextsList1 {
    border-left: solid 4px #cda400;
    padding-left: 12px;
    padding: 4px 12px;
}

.liLM {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 540px;
    text-shadow: #999999 1px 1px 12px;
}

.MaterialSec3 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.TitleMaterial2 {
    color: #eabb00;
    font-size: 40px;
    margin-bottom: 20px;
    /* font-family: 'Madimi One'; */
    font-family: 'Madimi One';
    margin-left: 35px;
}

.TextsList2 {
    border-left: solid 4px #e7b900;
    padding-left: 12px;
    padding: 4px 12px;
}

.liLC {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 540px;
    text-shadow: #999999 1px 1px 12px;
}

.AreaCare {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 223, 0);
    width: 100%;
    justify-content: center;
    padding: 70px;
    margin-top: 100px;
}

.TitleCare {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 80px;
}

.DivsCare{
    display: flex;
    gap: 50px;
}

.ContainerCare{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 194px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 8.95px 9.95px 12.6px;
}

.CareIcon{
    max-width: 50%;
    margin-bottom: 30px;
}

.CareTitle{
    font-weight: 900;
    margin-bottom: 8px;
}

.CareText{
    text-align: center;
    font-weight: 600;
}


/*SECTION4*/

.Section4 {
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 70px 40px;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 100%);
    align-items: center;
}

.HeaderSec4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    width: 100%;
    margin-top: 200px;
}

.TitleSec4 {
    width: 800px;
    font-size: 45px;
    color: white;
    text-align: center;
    text-shadow: white 1px 1px 12px;
}

.IconSec4 {
    max-width: 100%;
    height: 170%;
    transform: rotate(-10deg);
}

.TextCenterSec4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}


.pCenterSec4 {
    font-size: 35px;
    font-weight: 600;
    width: 950px;
    border-bottom: solid 3px #000000;
    padding-bottom: 50px;
    margin-bottom: 60px;
    text-align: center;
    margin-top: 70px;
    color: white;
    border-bottom: solid 2px #ffe400;
}

.carousel {
    display: flex;
    gap: 70px;
    margin-top: 200px;
    justify-content: center;
}

.ScissorsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 12px;
    width: 230px;
    position: relative;
    cursor: pointer;
    transition: ease 0.8s;
    border-radius: 8px;
}

.ScissorsContainer::after {
    content: "";
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 100px;
    top: -100px;
}

.ScissorsContainer:hover {
    box-shadow: rgba(132, 110, 0, 0.3) 0px 19px 38px, rgba(152, 142, 0, 0.22) 0px 15px 12px;
    transform: translateY(-10px);
}

.Scissorsimage {
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.4s;
    border: solid 2px #ffcc00;
    padding: 8px;
}

.Scissorsimage:hover {
    transform: scale(1.1);
}

.ScissorsName {
    font-weight: 600;
    font-size: 20px;
    color: #e99f00;
}

.ScissorsDescription {
    text-align: center;
    width: 100%;
    font-family: cursive;
    color: white;
}

.SpanSec4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid 2px #ffca00;
    border-bottom: solid 2px #ffca00;
    margin-top: 90px;
}


.TextsinDiv {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.textdivHSec4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid 2px #ffe400;
    margin-top: 180px;
    width: 70%;
}

.TextTitle {
    color: #ffca00;
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.Textlorem {
    color: white;
    text-align: center;
    width: 800px;
    font-size: 28px;
    font-weight: 800;
}


.divTextsSec4 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 35px;
    gap: 35px;
}

.texth2 {
    color: #ffca00;
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: #ffc500bf 1px 1px 12px;
}

.textp {
    color: white;
    width: 640px;
    font-size: 23px;
    font-weight: 600;
    text-shadow: white 1px 1px 8px;
}

.DivTextSec4 {
    cursor: pointer;
    border-radius: 8px;
    padding: 18px;
    background: linear-gradient(138deg, rgb(17, 17, 17) 0%, rgb(34 28 6) 61%, rgb(17, 17, 17) 94%);
}

.DivTextSec4:hover {
    transform: translateY(-10px);
    box-shadow: rgba(132, 110, 0, 0.3) 0px 19px 38px, rgba(152, 142, 0, 0.22) 0px 15px 12px;
    background-color: #111111;
}


/*SECTION5*/

.Section5 {
    min-height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(126, 126, 126, 1) 16%, rgba(126, 126, 126, 1) 100%);
}

.CenterSec5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1Sec5 {
    color: white;
    font-size: 48px;
}

.TextSec5 {
    color: white;
    font-size: 25px;
    width: 820px;
    text-align: center;
}

.DivMachines {}

.SecadorContainer {}

.SecadorImage {}

.SecadorTitle {}

.SecadorDescription {}


/*SECTION6*/

.Section6 {
    height: 100vh;
    background-color: white;

}

@media screen and (max-width: 900px) {
    .General {
        min-width: 390px;
    }

    /*HEADER*/
    .Header {
        position: fixed;
    }

    /* BLUR & BLUR2*/
    .Menu1 {
        width: 90%;
    }

    .Description {
        width: 180%;
    }

    .BladesSelections {
        grid-template-columns: repeat(13, 1fr);
        overflow-x: scroll;
        width: 80%;
    }

    .Menu2 {
        width: 95%;
        padding: 15px;
        height: 65%;
    }

    .CompButtons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin-bottom: 20px;
    }

    .DivimageSelected {
        height: 120px;
        width: 120px;
    }

    .CompareBlades {
        gap: 10;
    }

    .CompareImage {
        width: 25%;
    }

    .DivimageSelected2 {
        height: 120px;
        width: 120px;
    }

    .CompDescription {
        width: 100%;
        font-size: 15px;
    }

    .OtherBlades {
        width: 100%;
        overflow-x: scroll;
        justify-content: start;
    }

    .DivimageSelection {
        height: 100px;
        width: 100px;
    }

    /*HEADER elements*/

    .Header {
        padding: 0 20px 0 10px;
    }

    .NavBar {
        display: none;
    }

    /* SECTION 1*/

    .Section1 {
        min-height: 80vh;
    }

    .divSec1 {
        padding-top: 50px;
    }

    .h3Sec1 {
        width: 90%;
    }

    .MiniServices {
        flex-direction: column-reverse;
    }

    /* SECTION 2*/

    .Section2 {
        flex-direction: column;
        min-height: 90vh;
        padding-top: 125px;
    }

    .Main1Sec2 {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 50px;
        justify-content: center;
        padding-bottom: 120px;

    }

    .Span1Sec2 {
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }



    .GoldIcon2Sec2 {
        max-width: 80%;
        margin: 50px 0px;
    }

    .Main1Sec2 {
        flex-direction: column-reverse;
    }

    .Main2Sec2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(34, 34, 34);
        gap: 120px;
        padding: 125px 0;
        position: relative;
        width: 100%;
    }

    .ContainerMissions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        position: initial;
        flex-direction: column;
    }

    .DivMissions {
        width: 80%;
        height: 275px;
    }

    .ContainerServices {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
        flex-direction: column;
    }

    /* SECTION 3*/

    .Section3 {
        padding: 280px 10px 10px 10px;
    }

    .TitleSec3 {
        font-size: 19px;
        width: 70%;
    }

    .IconSec3 {
        max-width: 16%;
        height: auto;
    }

    .TextCenterSec3 {
        margin-top: 30px;
    }

    .pCenterSec3 {
        width: 90%;
        font-size: 20px;
    }

    .BladeMarks {
        display: flex;
        gap: 20px;
        margin-bottom: 80px;
        flex-direction: column;
    }

    .DivMark {
        align-items: center;
        justify-content: center;
        width: 205px;
        height: 200px;
    }

    .LogoMark {
        max-width: 100%;
        height: 40%;
    }

    .BladeMaterial {
        flex-direction: column;
    }

    .carousel {
        width: 100%;
        margin-top: 50px;
        align-items: center;
        overflow-x: scroll;
        justify-content: start;
    }

    .bladeContainer::after {
        width: 15px;
        height: 15px;
        top: -51px;
    }

    .TextDownSex3 {
        width: 90%;
    }

    .h2DownSec3 {
        width: 100%;
        font-size: 27px;
    }

    .pDownSec3 {
        width: 100%;
        font-size: 20px;
    }

    .SpanCompareSec3 {
        gap: 50px;
        flex-direction: column;
    }

    .TitleMaterial1 {
        font-size: 30px;
    }

    .liLM {
        font-size: 20px;
        width: 100%;
    }

    .TitleMaterial2 {
        font-size: 30px;
    }

    .liLC {
        font-size: 20px;
        width: 100%;
    }

    .DivsCare {
        flex-direction: column;
    }

    /* SECTION 4*/

    .Section4 {
        padding: 1px 10px;
    }

    .HeaderSec4 {
        margin-top: 140px;
    }

    .ScissorsContainer::after {
        width: 15px;
        height: 15px;
        top: -45px;
    }

    .TitleSec4 {
        font-size: 18px;
    }

    .IconSec4 {
        max-width: 18%;
        height: auto;
    }

    .TextTitle {
        font-size: 35px;
    }

    .pCenterSec4 {
        width: 100%;
        font-size: 20px;
    }

    .Textlorem {
        width: 100%;
        font-size: 20px;
    }

    .divTextsSec4 {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-direction: column;
    }

    .textp {
        font-size: 20px;
        width: 100%;
    }

}